$primary: #0010f5;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  )
);

// Link
$link-color: $white;
$link-decoration: none;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
