// post-card
.post-card {
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  &:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  figure {
    margin-bottom: 0;
    height: 280px;
    img {
      height: 280px;
      border-radius: 10px 10px 0 0;
    }
  }
  .card-body {
    padding-bottom: 0.875rem;
    .card-title {
      margin-bottom: 30px;
      font-style: 30px;
    }
    .card-text {
      .date {
        color: #7f7f7f;
      }
      .views {
        color: #f22cca;
      }
    }
  }
}

// read-more
.blog-read-more {
  border: 0;
  .card-body {
    padding: 0.675rem 1rem;
  }
  .card-footer {
    background: none;
    border: 0;
    a {
      background: #460391;
      border-color: #460391;
      .icon {
        position: absolute;
        right: 16px;
        top: 8px;
        padding: 0.375rem 0.75rem;
        background: #34036a;
        color: white;
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }
}
