// post-card
.post-card {
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 10px;
  &:hover {
    transition: all 0.4s;
    transform: translateY(-5px) !important;
    box-shadow: 5px 4px 8px rgba(38, 38, 38, 0.2) !important;
  }
  figure {
    margin-bottom: 0;
    height: 280px;
    img {
      height: 280px;
      border-radius: 10px 10px 0 0;
    }
  }
  .card-body {
    padding-bottom: 0.875rem;
    .card-title {
      margin-bottom: 30px;
      font-style: 30px;
    }
    .card-text {
      .date {
        color: #7f7f7f;
      }
      .views {
        color: #f22cca;
      }
    }
  }
}

// read-more
.blog-read-more {
  border: 0;
  .card-body {
    padding: 0.675rem 1rem;
  }
  .card-footer {
    background: none;
    border: 0;
  }
}
