.text-area {
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
}
.wave-animation {
  .wavedot-1 {
    position: absolute;
    top: 38px;
    left: -6px;
  }
  .wavedot-2 {
    position: absolute;
    top: 48px;
    right: 230px;
  }
  .wavedot-3 {
    position: absolute;
    top: 47px;
    right: 46px;
  }
  .wavedotmark-1 {
    position: absolute;
    top: 41px;
    left: 143px;
  }
}
