.card-area {
  border: 1px solid #d1cccc;
  box-shadow: 0.1rem 0.3rem 0.7rem #a7a5a5;
  border-radius: 0px 50px 0px 50px;
  .prof-img {
    border-radius: 0px 50px 0px 50px;
  }
  .text-area {
    font-size: 20px;
    font-weight: 300;
    div {
      .txt-b-border {
        height: 2px;
        width: 95%;
        background-color: #4599e7;
      }
    }
    .heading-txt {
      font-size: 30px;
      font-weight: 500;
    }
    .intro-text {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
