.section-title {
  h1 {
    // &::before {
    //   content: '';
    //   border: 1px solid #23c0e9;
    //   width: 8px;
    //   position: absolute;
    //   bottom: -15px;
    //   left: -45px;
    //   right: 0;
    //   margin: 0px auto;
    // }
    &::after {
      content: '';
      border: 2px solid #632fd7;
      width: 65px;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: 0px auto;
    }
  }
}
