.titlef {
  font-family: 'Times New Roman', Times, serif;
}
.testamonytext {
  margin-right: 25%;
  margin-left: 25%;
}
.check-card {
  padding: 20px;
  border: 1px solid #f7f7f7;
  border-radius: 25px;
}
.textbottomboder1 {
  height: 2px;
  width: 77px;
  background-color: #6911d7;
}
.textbottomboder2 {
  height: 2px;
  width: 33px;
  background-color: #6911d7;
}
.list-txt {
  color: #6911d7;
}
