.card {
  border: 1px solid #e4e0e0 !important;
  border-radius: 0.75rem !important;
  .card-header {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: none !important;
    background-color: none !important;
  }
  .cd-header {
    font-size: 25px;
  }
  .card-body {
    margin: 5px 0 15px 0;
    font-size: 20px;
  }
  &:hover {
    transition: all 0.1s ease-out;
    box-shadow: 5px 4px 8px rgba(38, 38, 38, 0.2) !important;
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
}
