#root {
  overflow-x: hidden;
}
p {
  font-size: 25px;
}
:focus {
  outline: none;
}
button {
  &:focus {
    outline: none;
  }
}
// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* make scrollbar transparent */
// }