.about-us {
  .vdsec {
    position: relative;
  }
  @media (min-width: 1400px) {
    height: 100vh;
  }
  p {
    font-size: 30px;
    margin: 1rem 0 0;
    font-weight: 500;
  }
  iframe {
    height: 290px;
    width: 40%;
  }
  .bgtop {
    position: absolute;
    z-index: -1;
    height: 370px;
    width: 55%;
  }
  .bgbtm {
    position: absolute;
    top: 37px;
    left: 223px;
    z-index: -2;
    height: 370px;
    width: 55%;
  }
}
