.about-us {
  margin-top: 100px;
  @media (min-width: 1400px) {
    .about-us-row {
      padding: 150px 0 100px;
      align-items: center;
    }
    .section-title {
      p {
        margin-bottom: 0 !important;
      }
    }
  }
  @media (min-width: 1200px) {
    padding: 0 0 100px 0;
  }
  p {
    font-size: 30px;
    margin: 1rem 0 0;
    font-weight: 500;
  }
  // iframe {
  //   border-color: rgba(38, 37, 106, 0.9);
  //   border-width: 40px 90px;
  //   border-radius: 60px !important;
  //   @media (max-width: 767.98px) {
  //     border-width: 25px 50px;
  //     height: 350px;
  //     width: 500px;
  //   }
  //   @media (max-width: 575.98px) {
  //     border-width: 20px 40px;
  //     border-radius: 20px !important;
  //   }
  //   @media (max-width: 475.98px) {
  //     border-width: 5px 10px;
  //     border-radius: 10px !important;
  //     height: 250px;
  //     width: 500px;
  //   }

  //   border-style: solid;
  //   box-shadow: 0px 4.8px 22.2px 0px rgba(0, 0, 0, 0.034),
  //     0px 0.7px 3.3px -3px rgba(0, 0, 0, 0.048),
  //     0 0.5px 16px rgba(0, 0, 0, 0.06), 0 37.3px 20.9px rgba(0, 0, 0, 0.072),
  //     0px 1.8px 6.4px rgba(0, 0, 0, 0.086), -24px 27px 2px rgba(0, 0, 0, 0.12);
  // }
  .about-us-video {
    height: 450px;
    width: 715px;
    border-color: rgba(38, 37, 106, 0.9);
    border-width: 40px 90px;
    border-radius: 60px !important;
    border-style: solid;
    box-shadow: 0px 4.8px 22.2px 0px rgba(0, 0, 0, 0.034),
      0px 0.7px 3.3px -3px rgba(0, 0, 0, 0.048),
      0 0.5px 16px rgba(0, 0, 0, 0.06), 0 37.3px 20.9px rgba(0, 0, 0, 0.072),
      0px 1.8px 6.4px rgba(0, 0, 0, 0.086), -24px 27px 2px rgba(0, 0, 0, 0.12);
    @media (max-width: 767.98px) {
      border-width: 25px 50px;
      height: 350px;
      width: 500px;
    }
    @media (max-width: 575.98px) {
      border-width: 20px 40px;
      border-radius: 20px !important;
    }
    @media (max-width: 475.98px) {
      border-width: 5px 10px;
      border-radius: 10px !important;
      height: 250px;
      width: 500px;
    }
    .video-react {
      height: 100% !important;
      .video-react-video {
        top: -10px !important;
      }
      .video-react-big-play-button {
        background: #2fb2f9 !important;
        border: 0 !important;
        height: 2.5em !important;
        width: 2.5em !important;
        border-radius: 100% !important;
        &::before {
          top: 15px !important;
          left: 1px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 765px) and (max-width: 991px) {
  .sub-btn-row {
    justify-content: center !important;
    .rbtn {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .sub-btn-row {
    .rbtn {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 990px) {
  .einp {
    margin-top: 24px;
  }
}
