.hero-banner {
  overflow: hidden;
  @media (min-width: 1400px) {
    height: 90vh;
  }
  .banner-content {
    @media (min-width: 1199px) {
      margin-left: 65px;
      padding-right: 62px;
    }
    .small-text {
      @media (min-width: 1680px) {
        font-size: 6.625rem;
      }
      margin-bottom: 1rem;
      @media (max-width: 1399.98px) {
        font-size: 3rem;
      }
      @media (max-width: 810.98px) {
        font-size: 2rem;
      }
    }
    .large-text {
      font-size: 2, 5rem;
      @media (max-width: 810.98px) {
        font-size: 2rem;
      }
    }
    &-description {
      font-size: 1.5rem;
      color: #383838;
      font-weight: normal;
      padding: 20px 0;
      @media (max-width: 1199.98px) {
        font-size: 1rem;
        width: 100% !important;
      }
      @media (max-width: 991.98px) {
        padding: 10px 15px;
      }
    }
  }

  .stock-img-animation {
    position: absolute;
    bottom: 0px;
    .line-wrapper2 {
      position: absolute;
      bottom: 0px;
      left: 20%;
      @media (max-width: 1735.98px) {
        left: 30%;
      }
      @media (max-width: 1199.98px) {
        left: 25%;
      }
      @media (max-width: 991.98px) {
        left: 25%;
      }
      @media (max-width: 575.98px) {
        left: 20%;
      }
      @media (max-width: 415.98px) {
        left: 7%;
      }
      z-index: -1;
    }
    .stock7 {
      position: absolute;
      bottom: 0%;
      right: 5%;
      height: 210px;
      animation: mover 20s infinite alternate;
      @media (max-width: 1735.98px) {
        animation: mover2 17s infinite alternate;
      }
      @media (max-width: 1199.98px) {
        height: 125px;
      }
      @media (max-width: 991.98px) {
        height: 80px;
      }
      @media (max-width: 575.98px) {
        height: 70px;
        animation: mover3 17s infinite alternate;
      }
    }
    .stock1 {
      position: absolute;
      bottom: 60%;
      right: 20%;
      height: 210px;
      z-index: -5;
      animation: mover4 3s infinite alternate;
      @media (max-width: 1399.98px) {
        height: 150px;
      }
      @media (max-width: 991.98px) {
        height: 120px;
      }
      @media (max-width: 475.98px) {
        height: 90px;
      }
    }
    span {
      width: 80px;
      @media (max-width: 1735.98px) {
        width: 40px;
      }
      @media (max-width: 991.98px) {
        width: 25px;
      }
      height: 60px;
      border-radius: 5px;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      position: absolute;
    }
    .line1 {
      background: $soft-blue;
      animation: animate5 18s linear infinite;
      bottom: 0px;
      left: 60px;
      @media (max-width: 1735.98px) {
        left: 5px;
        height: 200px;
        animation: animate6 21.2s linear infinite;
      }
      @media (max-width: 991.98px) {
        left: 50px;
      }
    }
    .line2 {
      background: $soft-blue;
      animation: animate5 17.9s linear infinite;
      bottom: 0px;
      left: 180px;
      @media (max-width: 1735.98px) {
        left: 70px;
        animation: animate6 22.1s linear infinite;
      }
      @media (max-width: 991.98px) {
        left: 90px;
      }
    }
    .line3 {
      background: $soft-blue;
      animation: animate5 17.6s linear infinite;
      bottom: 0px;
      left: 300px;
      @media (max-width: 1735.98px) {
        left: 130px;
        animation: animate6 23.2s linear infinite;
      }
      @media (max-width: 991.98px) {
        left: 130px;
      }
    }
    .line4 {
      background: $soft-blue;
      animation: animate5 17s linear infinite;
      bottom: 0px;
      left: 420px;
      @media (max-width: 1735.98px) {
        left: 195px;
        animation: animate6 24.3s linear infinite;
      }
      @media (max-width: 991.98px) {
        left: 170px;
      }
    }
    .line5 {
      background: $soft-blue;
      animation: animate5 17.4s linear infinite;
      bottom: 0px;
      left: 520px;
      @media (max-width: 1735.98px) {
        left: 260px;
        animation: animate6 25.5s linear infinite;
      }
      @media (max-width: 991.98px) {
        left: 210px;
      }
    }
  }

  .cloud-img {
    bottom: 50px;
    min-height: 200px;
    @media (min-width: 1640px) {
      bottom: 100px;
    }
    @media (max-width: 767.98px) {
      bottom: 47px;
      min-height: 123px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      background-image: url(./../image/heroBanner/cloud.png);
      background-repeat: repeat-x;
      min-height: 466px;
      background-position: 0 0%, 0 95%, 0 0, 0 100%, 0 0;
      width: 100%;
      animation: 150s para reverse infinite linear;
    }
  }
}
