// hero banner
.hero-banner {
  overflow: hidden;
  .banner-content {
    @media (min-width: 1200px) {
      margin-left: 100px;
    }
    &-heading {
      @media (min-width: 1640px) {
        font-size: 6.625rem;
      }
      margin-bottom: 1rem;
      @media (max-width: 1399.98px) {
        font-size: 3rem;
      }
      @media (max-width: 810.98px) {
        font-size: 2rem;
      }
    }
    &-description {
      font-size: 1.5rem;
      color: #383838;
      font-weight: normal;
      @media (min-width: 1260px) {
        width: 75%;
      }

      @media (max-width: 1199.98px) {
        font-size: 1rem;
        width: 100% !important;
      }
      @media (max-width: 575.98px) {
        padding: 0 40px;
      }
    }
  }
  .triangle1-img {
    position: absolute;
    top: 47px;
    left: 57px;
  }
  .triangle2-img {
    position: absolute;
    top: 28px;
    right: 230px;
  }
  .triangle-blank-img {
    position: absolute;
    top: 420px;
    left: 284px;
  }
  .star1-img {
    position: absolute;
    top: 171px;
    left: 126px;
  }
  .star2-img {
    position: absolute;
    top: 104px;
    right: 42px;
  }
  .star3-img {
    position: absolute;
    top: 251px;
    right: 140px;
  }
  .plus1-img {
    position: absolute;
    top: 279px;
    left: 295px;
  }
  .plus2-img {
    position: absolute;
    top: 25px;
    right: 42px;
  }
  .egg-shape-img {
    position: absolute;
    top: 395px;
    left: 70px;
  }
  .stock-img {
    position: absolute;
    z-index: 1;
    width: 90%;
    left: 0%;
    @media (max-width: 1399px) and (min-width: 767px) {
      left: -3%;
    }
  }
  .cloud-img {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0px;
      background-image: url(./../image/heroBanner/cloud.png);
      background-repeat: repeat-x;
      min-height: 466px;
      background-position: 0 20%, 0 95%, 0 0, 0 100%, 0 0;
      width: 100%;
      animation: 90s para reverse infinite linear;
    }
  }
}
