.blog-section {
  @media (min-width: 1400px) {
    background: url(./../image/blog/blog_bg.png) no-repeat;
    background-position: 80% 80%;
    .blog-content {
      height: 80vh;
    }
  }
  @media (max-width: 1399px) and (min-width: 992px) {
    .blog-col {
      padding: 0 3rem !important;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .blog-col {
      padding: 0 1.5rem !important;
    }
  }
  @media (max-width: 500px) and (min-width: 360px) {
    .blog-col {
      padding: 0 1.4rem !important;
    }
  }
  @media (max-width: 359px) {
    .blog-col {
      padding: 0 0.4rem !important;
    }
  }
  background: url(./../image/blog/blog_bg.png) no-repeat bottom;
}

// blog details
.blog-details {
  border-radius: 30px 30px 20px 20px;
  figure {
    height: 350px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    background: $gray-500;
    border-radius: 30px 30px 0 0;
    @media (max-width: 991px) {
      height: 303px !important;
      @media (max-width: 767px) {
        height: 283px !important;
        @media (max-width: 450px) {
          height: 250px !important;
          @media (max-width: 402px) {
            height: 220px !important;
            @media (max-width: 356px) {
              height: 200px !important;
            }
          }
        }
      }
    }
    img {
      width: 100%;
    }
  }
  .card-subtitle {
    display: flex;
    align-items: center;
    margin: 15px 0 0;
  }
  .blog-details-body_details {
    display: flex;
    align-items: center;

    span {
      svg {
        width: 15px;
        height: 15px;
      }
      small {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .card-text {
    font-size: 18px;
    padding-top: 15px;
  }
  .btn {
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  p {
    font-size: 18px;
  }
}
