.blog-section {
  @media (min-width: 1400px) {
    height: 100vh;
  }
  @media (max-width: 1399px) and (min-width: 992px) {
    .blog-col {
      padding: 0 3rem !important;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .blog-col {
      padding: 0 1.5rem !important;
    }
  }
  @media (max-width: 500px) and (min-width: 360px) {
    .blog-col {
      padding: 0 1.4rem !important;
    }
  }
  @media (max-width: 359px) {
    .blog-col {
      padding: 0 0.4rem !important;
    }
  }
  background: url(./../image/blog/blog_bg.png) no-repeat bottom;
}
