// values card
.values-card {
  border: 1px solid #e4e0e0 !important;
  border-radius: 0.75rem !important;
  transition: box-shadow 0.5s;
  will-change: transform;
  &:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  .card-header {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: none !important;
    background-color: none !important;
  }
  .cd-header {
    font-size: 25px;
  }
  .card-body {
    margin: 5px 0 15px 0;
    font-size: 20px;
  }
}

// blog-card
.blog-card {
  border-radius: 10px;
  transition: box-shadow 0.5s;
  will-change: transform;
  &:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4) !important;
  }
  &-body {
    padding: 2rem 1rem 1rem;
    color: $primary;
    &_title {
      font-size: 23px;
    }
    &_details {
      span {
        small {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}

// choose-card
.choose-card {
  &-img {
    height: 100px;
    img {
      height: 80px;
      width: 80px;
    }
  }
  &-body {
    color: $primary;
    &_title {
      font-size: 23px;
      margin-bottom: 8px;
    }
    &_description {
      text-align: justify;
      font-size: 16px;
      font-weight: 500;
      &::before {
        content: '';
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: #6546fb;
        top: 8px;
        left: -14px;
      }
    }
  }
}

// product card
.product {
  border-radius: 10px;
  transition: box-shadow 0.5s;
  will-change: transform;
  &:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4) !important;
  }
  .card-body {
    padding: 1.5rem 1.5rem !important;
    border-radius: 10px;
    color: $primary;
    .card-subtitle {
      font-size: 3rem;
    }
    .card-title {
      font-weight: bold;
      margin: 0 0 4rem 0;
    }
    .details {
      font-size: 14px;
    }
  }
}
