.carrer {
  .carrer-right {
    &::after {
      position: absolute;
      content: url(./../image/carrer/lines2.png);
      bottom: -100px;
      left: 10%;
      @media (max-width: 1399.98px) {
        left: -2%;
      }
      @media (max-width: 1199.98px) {
        content: unset;
      }
    }
  }
  .carrer-left {
    &::after {
      position: absolute;
      content: url(./../image/carrer/line1.png);
      bottom: -100px;
      left: 10%;
      @media (max-width: 1399.98px) {
        left: -2%;
      }
      @media (max-width: 1199.98px) {
        content: unset;
      }
    }
  }
  .carrer-items {
    .details {
      text-align: justify;
      p {
        font-weight: 500;
        font-size: 20px;
        @media (max-width: 575.98px) {
          font-size: 16px;
        }
      }
    }
    &:first-child {
      h2 {
        font-size: 73px;
        font-weight: bold;
      }
    }
    &:last-child {
      .carrer-left {
        &::after {
          content: '' !important;
        }
      }
    }
  }
  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  @media (max-width: 991.98px) {
    h2 {
      font-size: 40px !important;
    }
  }
  @media (max-width: 575.98px) {
    h2 {
      font-size: 30px !important;
    }
  }
}
