.contact-info-card {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 20px #ebebeb;
  .img-redus {
    background-color: white;
    position: absolute;
    right: 38%;
    top: -52px;
    border-radius: 50%;
    border: 1px solid #ebebeb !important;
    box-shadow: 0px 3px 6px #ebebeb;
    img {
      padding: 30px !important;
    }
  }

  .inside-text {
    padding: 42px;
    h3 {
      margin-top: 30px;
      font-size: 31px;
      font-weight: 600 !important;
    }
    p {
      margin-top: 40px;
      font-size: 19px;
      font-weight: 500;
    }
    .number {
      font-size: 30px;
      font-weight: 500 !important;
    }
    .btn {
      margin-top: 47px;
    }
  }
}
.posation {
  margin-bottom: 150px;
}

@media (min-width: 768px) {
  .contact-info-card {
    .img-redus {
      right: 38%;
    }
  }
}

// @media (min-width: 576px) {
//   .contact-info-card {
//     margin-bottom: 70px !important;
//     .img-redus {
//       right: 38%;
//     }
//   }
// }
// @media (min-width: 320px) {
//   .contact-info-card {
//     margin-bottom: 70px !important;
//     // .img-redus {
//     //   right: 35%;
//     // }
//   }
// }

// Small devices (landscape phones, 375px and up)
@media (min-width: 300px) {
  .contact-info-card {
    margin-bottom: 70px !important;
    .img-redus {
      right: 33%;
    }
  }
}

// Small devices (landscape phones, 375px and up)
@media (min-width: 375px) {
  .contact-info-card {
    margin-bottom: 70px !important;
    .img-redus {
      right: 35%;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contact-info-card {
    margin-bottom: 70px !important;
    .img-redus {
      right: 38%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contact-info-card {
    .img-redus {
      right: 35%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .contact-info-card {
    .img-redus {
      right: 33%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact-info-card {
    .img-redus {
      right: 36%;
    }
  }
}

// Extra large devices (large desktops, 1620px and up)
@media (min-width: 1620px) {
  .contact-info-card {
    .img-redus {
      right: 39%;
    }
  }
}
