.contact {
  @media (min-width: 1400px) {
    height: 100vh;
  }
  .contact-us-content{
    @media (min-width: 1400px) {padding: 0 80px !important;}

  }
  .contact-us {
    textarea {
      min-height: calc(0.5em + 9.75rem + 44px);
    }
    .inp {
      &:focus {
        box-shadow: none !important;
        border: 1px solid #ced4da !important;
      }
    }
  }
}
