.error-page {
  @media (min-width: 1400px) {
    height: 100vh;
  }
  h1 {
    font-size: 73px;
  }
  @media (max-width: 991.98px) {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }
  .btn {
    padding: 5px 70px;
    &:focus {
      box-shadow: none;
    }
  }
}
