footer {
  background: $primary;
  color: $white;
  padding: 20px 0 250px;
  @media (max-width: 767.98px) {
    padding: 20px 0 150px;
  }
  @media (max-width: 575.98px) {
    h5 {
      font-size: 16px;
    }
  }

  option {
    background-color: $primary !important;
  }
  .social-icon {
    a {
      background: #2d2c7a;
      span {
        background: $primary;
        height: 36px;
        svg {
          height: 20px;
          width: 20px !important;
        }
      }
    }
  }
  .details {
    text-align: justify;
  }
  .point {
    left: 90px;
    top: -14px;
  }
  .line-wrapper {
    position: absolute;
    top: 50%;
    left: 3%;
    @media (max-width: 1700.98px) {
      left: -3%;
    }
    @media (max-width: 991.98px) {
      left: -5%;
    }
    @media (max-width: 767.98px) {
      left: -10%;
      top: 10% !important;
    }
    transform: translate(-50%, -50%);
    span {
      width: 25px;
      height: 60px;
      border-radius: 5px;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      position: fixed;
    }
    .line1 {
      background: $soft-blue;
      animation: animate4 3.9s linear infinite;
      top: 200px;
      left: 60px;
    }
    .line2 {
      background: $soft-blue;
      animation: animate2 3.1s linear infinite;
      top: 200px;
      left: 120px;
    }
    .line3 {
      background: $soft-blue;
      animation: animate4 4.3s linear infinite;
      top: 200px;
      left: 180px;
    }
    .line4 {
      background: $soft-blue;
      animation: animate4 3.9s linear infinite;
      top: 200px;
      left: 240px;
    }
    .line5 {
      background: $soft-blue;
      animation: animate4 3.1s linear infinite;
      top: 200px;
      left: 300px;
    }
    .line6 {
      background: $soft-blue;
      animation: animate4 4s linear infinite;
      top: 200px;
      left: 360px;
    }
    .line7 {
      background: $soft-blue;
      animation: animate4 2.9s linear infinite;
      top: 200px;
      left: 420px;
    }
    .line8 {
      background: $soft-blue;
      animation: animate4 3.6s linear infinite;
      top: 200px;
      left: 480px;
    }
    .line9 {
      background: $soft-blue;
      animation: animate4 2.8s linear infinite;
      top: 200px;
      left: 540px;
    }
    .line10 {
      background: $soft-blue;
      animation: animate4 3.5s linear infinite;
      top: 200px;
      left: 600px;
    }
    .line11 {
      background: $soft-blue;
      animation: animate4 2.8s linear infinite;
      top: 200px;
      left: 660px;
    }
    .line12 {
      background: $soft-blue;
      animation: animate4 3.156s linear infinite;
      top: 200px;
      left: 720px;
    }
    .line13 {
      background: $soft-blue;
      animation: animate4 3.75s linear infinite;
      top: 200px;
      left: 780px;
    }
    .line14 {
      background: $soft-blue;
      animation: animate4 2.55s linear infinite;
      top: 200px;
      left: 840px;
    }
    .line15 {
      background: $soft-blue;
      animation: animate3 3.12s linear infinite;
      top: 200px;
      left: 900px;
    }
    .line16 {
      background: $soft-blue;
      animation: animate4 3.6s linear infinite;
      top: 200px;
      left: 960px;
    }
    .line17 {
      background: $soft-blue;
      animation: animate4 2.5s linear infinite;
      top: 200px;
      left: 1020px;
    }
    .line18 {
      background: $soft-blue;
      animation: animate4 4.4s linear infinite;
      top: 200px;
      left: 1080px;
    }
    .line19 {
      background: $soft-blue;
      animation: animate4 3.2s linear infinite;
      top: 200px;
      left: 1140px;
    }
    .line20 {
      background: $soft-blue;
      animation: animate4 2.6s linear infinite;
      top: 200px;
      left: 1200px;
    }
    .line21 {
      background: $soft-blue;
      animation: animate4 3.7s linear infinite;
      top: 200px;
      left: 1260px;
    }
    .line22 {
      background: $soft-blue;
      animation: animate4 4.2s linear infinite;
      top: 200px;
      left: 1320px;
    }
    .line23 {
      background: $soft-blue;
      animation: animate4 3.8s linear infinite;
      top: 200px;
      left: 1380px;
    }
    .line24 {
      background: $soft-blue;
      animation: animate4 2.9s linear infinite;
      top: 200px;
      left: 1440px;
    }
    .line25 {
      background: $soft-blue;
      animation: animate4 3.9s linear infinite;
      top: 200px;
      left: 1500px;
    }
    .line26 {
      background: $soft-blue;
      animation: animate4 2.8s linear infinite;
      top: 200px;
      left: 1560px;
    }
    .line27 {
      background: $soft-blue;
      animation: animate4 4s linear infinite;
      top: 200px;
      left: 1620px;
    }
    .line28 {
      background: $soft-blue;
      animation: animate4 3s linear infinite;
      top: 200px;
      left: 1680px;
    }
  }
  .footer-top,
  .footer-main {
    z-index: 999;
  }
  .canvas-animation {
    position: absolute;
    bottom: -70px;
    @media (max-width: 991.98px) {
      top: 0;
      bottom: unset;
    }
  }
}
