.bottom-text {
  font-size: 25px;
  margin-top: 20px;
}
.card-width {
  width: 60%;
}
.guiding-principle {
  padding: 12rem 0 0 0;
  background: url(./../image/guidingbg.png) no-repeat;
  h4 {
    font-size: 23px;
    margin-bottom: 8px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
  }
}
