.bottom-text {
  font-size: 25px;
  margin-top: 20px;
}
.card-width {
  width: 60%;
  img {
    height: 130px;
  }
}
.guiding-principle {
  padding: 12rem 0 0 0;
  @media (max-width: 1399px) and (min-width: 767px) {
    padding: 6rem 0 0 0;
  }
  @media (max-width: 767.98px) {
    padding: 4rem 0 0 0;
  }
  @media (max-width: 575.98px) {
    padding: 3rem 0 0 0;
  }
  .bottom-details {
    font-size: 40px;
    @media (max-width: 991.98px) {
      font-size: 1rem;
    }
  }
  background: url(./../image/guidingbg.png) no-repeat;
  &-card {
    &_description {
      @media (max-width: 767px) {
        margin-left: 0 !important;
      }
      h2 {
        font-size: 40px;
        margin-bottom: 8px;
        @media (max-width: 991px) and (min-width: 576px) {
          font-size: 36px !important;
        }
        @media (max-width: 575px) {
          font-size: 32px !important;
        }
        @media (max-width: 399px) {
          font-size: 30px !important;
        }
      }
      p {
        text-align: justify;
        font-weight: 500;

        @media (max-width: 991px) and (min-width: 576px) {
          font-size: 20px !important;
        }
        @media (max-width: 767.98px) {
          text-align: center;
        }
        @media (max-width: 575px) and (min-width: 400px) {
          font-size: 18px !important;
        }
        @media (max-width: 399px) {
          font-size: 16px !important;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  .card-width {
    display: inline !important;
    text-align: center;
    .custrom-img {
      margin-bottom: 35px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {
  .card-width {
    width: 100%;
  }
}
