header {
  z-index: 10000;
  .header-top {
    background: $deep-blue;
  }
  .header-nav {
    .nav {
      .nav-item {
        .nav-link {
          position: relative;
          font-weight: 500;
          padding-top: 32px;
          padding-bottom: 32px;
          @media (max-width: 991.98px) {
            padding: 0.5rem 10px;
          }
          &.active {
            color: $primary !important;
            &::after {
              content: '';
              position: absolute;

              border-bottom: 3px solid #244991;
              bottom: 0;
              left: 30%;
              right: 30%;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .hbtns {
      width: 32%;
    }
    .hnav {
      width: 40%;
      padding-left: 0px;
      padding-right: 0px;
    }
    .nav-link {
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  @media screen and (min-width: 459px) and (max-width: 991px) {
    .hlogo {
      justify-content: center;
    }
    .nav {
      width: 100%;
      justify-content: center !important;
    }
    .hbtns {
      justify-content: center !important;
      .btn {
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px 10px !important;
      }
    }
  }

  @media screen and (max-width: 459px) {
    .hnav {
      display: none;
    }
    .hbtns {
      display: none !important;
    }
  }
}
