.header-menu-bar {
  width: 250px !important;

  transform: translateX(-457px) !important ;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.05) !important;
  &.show {
    transform: translateX(0px) !important;
  }
  .sidebar-main-content {
    .sidebar-body {
      border-top: 1px solid $gray-100;
      .form-control {
        height: 40px;
      }
      li {
        border-top: 1px solid $gray-100;
        font-size: 14px;
        font-weight: 600;
        height: 64px !important;
        a {
          padding: 20px 70px 20px 14px;
        }
        &:hover {
          background: $white;
        }
      }
      .second {
        top: 65px !important;
        box-shadow: none !important;
        .sidebar-main-content {
          .first-back-btn {
            background: $white;
            text-align: left;
            color: $black;
            font-size: 14px;
            font-weight: 600;
            svg {
              margin: 0 10px 3px 0;
            }
          }
        }
      }
    }
  }
}
.sidebar-backdrop.show {
  opacity: 0 !important;
}

//cross & menu buttons

.bar {
  &:focus {
    box-shadow: none !important;
  }
}
@media screen and (min-width: 459px) {
  .bar {
    display: none !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 458px) {
  .hiconclm {
    display: flex !important;
    position: relative !important;
    .bar {
      position: absolute !important;
      right: 2% !important;
    }
  }
}

.cross {
  &:focus {
    box-shadow: none !important;
  }
}
