header {
  .navbar {
    .nav {
      .nav-item {
        .nav-link {
          font-weight: 500;
          &.active {
            color: $primary !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hnav {
    column-span: 5;
  }
  .nav-link {
    padding-left: 6px;
    padding-right: 6px;
  }
}
