.our-technology {
  position: relative;
  background: linear-gradient(
      to right,
      rgba(33, 37, 106, 0.98) 39%,
      rgba(36, 73, 145, 0.86) 100%
    ),
    url(./../image/ourTechnology/our-technology-bg.png) no-repeat right;
  .feature {
    padding: 200px 0;
    &-right {
      position: absolute;
      bottom: -60px;
      right: -8.3%;
    }
  }
}
