.our-technology {
  position: relative;
  background: linear-gradient(
      to right,
      rgba(33, 37, 106, 0.98) 39%,
      rgba(36, 73, 145, 0.86) 100%
    ),
    url(./../image/ourTechnology/our-technology-bg.png) no-repeat right;
  .feature {
    padding: 150px 0;
    &-left {
      &-subtitle {
        font-size: 23px;
      }
      &-title {
        font-size: 70px;
        font-weight: 500;
      }
      &-text {
        font-size: 20px;
      }
    }
  }
  .technology-nav {
    transition: all 1s ease;
    z-index: 1000;
    .sticky-nav {
      background: $primary;
      border-bottom: 2px solid white !important;
      li {
        margin-right: 20px;
        a {
          margin-bottom: 0;
          border: 0;
          &.activeCategoryLink {
            color: white !important;
            border-bottom: 3px solid white !important;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            background: none !important;
          }
          &:hover {
            border: 0;
          }
          &:focus {
            outline: 0 !important;
          }
        }
      }
    }
  }
}
