.founder-section {
  background: url(./../image/heroBanner/Group_founder.png) no-repeat;
}
.founder-sec {
  padding-top: 300px;
}
.info-text {
  font-size: 25px;
  font-style: italic;
  line-height: 30px;
}
.our-history {
  .history {
    font-size: 24px;
  }
  a {
    right: 0;
    bottom: -7px;
  }
}

.img-cortetion {
  width: 60px;
  margin: 65px 0px -61px 41px;
}
.history-heading {
  display: inline-block;
  &::after {
    content: '';
    border-bottom: 3px solid;
    width: 45%;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
  }
}
