.our-product {
  padding: 3rem 0 4rem;
  background: linear-gradient(
      to right,
      rgba(33, 37, 106, 0.98) 39%,
      rgba(36, 73, 145, 0.86) 100%
    ),
    url(./../image/our-product-bg.png);
  background-repeat: no-repeat right;
  .product-item {
    &:nth-child(2) {
      transform: perspective(2000px) rotateX(0deg) rotateY(0deg) scale(1.1);
    }
    &:nth-child(odd) {
      .product {
        .card-subtitle {
          margin: 3rem 0 2rem 0 !important;
        }
        .card-text {
          font-size: 12px;
          margin-top: 1rem;
        }
        .btn {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
