.section-title {
  h1 {
    font-size: 58px;
    &.heading {
      padding-bottom: 1rem;
      margin-bottom: 12px;
    }
    &.border-line {
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 4px;
        background: $primary;
        bottom: 0;
        left: 47.8%;
      }
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}
