.hero-banner {
  .react-multiple-carousel__arrow {
    background: $primary;
    top: 40%;
    @media (max-width: 767.98px) {
      min-width: 30px;
      min-height: 30px;
    }
    &:focus {
      outline: none;
    }
  }
  .react-multiple-carousel__arrow--right {
    right: calc(1% + 1px);
  }
  .react-multiple-carousel__arrow--left {
    left: calc(1% + 1px);
  }
  .react-multi-carousel-item {
    padding: 100px 0px 150px;
    @media (max-width: 1339.98px) {
      padding: 100px 0px 60px;
    }
    @media (max-width: 767.98px) {
      padding: 50px 0px 60px;
    }
    @media (max-width: 575.98px) {
      padding: 50px 0px 50px;
    }
  }
}
.testimonial-slider {
  padding: 110px 0px;
  @media (max-width: 1199.98px) {
    padding: 110px 0 0px;
  }
  h1 {
    font-size: 3rem;

    padding-top: 40px;
    @media (max-width: 575.98px) {
      font-size: 1.75rem;
      padding-top: 20px;
    }
    &::before {
      content: url(./../image/cotation.png);
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      margin: 0px auto;
       @media (max-width: 575.98px){
         top:30px
       }
    }
  }
  .react-multi-carousel-dot-list {
    top: 0px;
    bottom: unset !important;
    .inactive {
      @media (max-width: 575.98px) {
        display: none;
      }
    }
    .dot-item {
      &:first-child {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 3;
      }
    }
  }
  .inactive {
    filter: blur(0.9px);
  }
  .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
  }
  .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
  }
  .react-multiple-carousel__arrow {
    background: $primary;
    min-width: 23px;
    min-height: 23px;
    @media (min-width: 576px) {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  @media (max-width: 575.98px) {
    p {
      font-size: 16px;
    }
  }
}
