.testimonial-slider {
  padding: 60px 0px;
  h1 {
    font-size: 5rem;
    padding-top: 103px;
    &::after {
      content: '';
      border: 2px solid $primary;
      width: 2px;
      height: 100px;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: 0px auto;
    }
  }
  .react-multi-carousel-dot-list {
    top: 0px;
  }
  .inactive {
    filter: blur(1.5px);
  }
}
