.testimonial {
  margin: 4rem 0 0 0;
  @media (min-width: 1400px) {
    height: 100vh;
  }
  @media (max-width: 575.98px) {
    margin: 2rem 0 0 0;
  }
  &::after {
    position: absolute;
    content: url(./../image/heroBanner/testimonial2.png);
    bottom: 15%;
    right: -800px;
    @media (max-width: 1450.98px) {
      right: -900px;
    }
    @media (max-width: 1199.98px) {
      right: -980px;
    }
    @media (max-width: 991.98px) {
      right: -950px;
    }
    @media (max-width: 767.98px) {
      content: unset;
    }
    transform: scale(0.7);
  }
  &::before {
    position: absolute;
    content: url(./../image/heroBanner/testimonial.png);
    top: -20%;
    left: -800px;
    @media (max-width: 1199.98px) {
      left: -850px;
    }

    @media (max-width: 991.98px) {
      left: -900px;
    }
    @media (max-width: 767.98px) {
      content: unset;
    }

    bottom: 0;
    transform: scale(0.7);
  }
}
