.testimonial {
  margin: 7rem 0 0 0;
  @media (max-width: 575.98px) {
    margin: 2rem 0 0 0;
  }
  &::after {
    position: absolute;
    content: url(./../image/heroBanner/testimonial2.png);
    bottom: 15%;
    @media (min-width: 1700.99px) {
      right: -50%;
    }
    @media (max-width: 1700.98px) {
      right: -55%;
    }
    @media (max-width: 1600.98px) {
      right: -65%;
    }
    @media (max-width: 1300.98px) {
      content: '';
    }
    transform: scale(0.7);
  }
  &::before {
    position: absolute;
    content: url(./../image/heroBanner/testimonial.png);
    top: -20%;
    @media (min-width: 1700.99px) {
      left: -47%;
    }
    @media (max-width: 1700.98px) {
      left: -52%;
    }
    @media (max-width: 1600.98px) {
      left: -62%;
    }
    @media (max-width: 1399.98px) {
      left: -65%;
    }

    @media (max-width: 1300.98px) {
      content: '';
    }
    bottom: 0;
    transform: scale(0.7);
  }
}
